* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
header {
  background-color: mediumvioletred;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  /*   flex: 1;
 */
  height: 50px;
}

header img {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

header > div {
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header > button {
  width: 70px;
  height: 30px;
  border: none;
  border-start-end-radius: 5px;
  border-end-start-radius: 5px;
}

header > button:hover{
    background-color: brown;
    color: white;
    transition: all 0.5s;
}
main {
  display: flex;
  flex-direction: row;
  height: 100%;
  min-width: 460px;
}

nav {
  background-color: #f2d0e0;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.itens-do-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.itens-do-menu:hover {
  background-color: mediumvioletred;
  transition: all 1s;
  color: white;
}

.itens-a-esquerda {
  display: flex;
  justify-content: center;
  align-items: center;
}

.itens-a-esquerda > img {
  margin-right: 15px;
}

nav img {
  width: 25px;
  height: 25px;
}

.vitrina {
  flex: 4;
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
}

.card {
  width: 230px;
  height: 300px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-shadow: 6px 6px 6px 6px darkgrey;
}

.card img {
  width: 230px;
  height: 200px;
}

.card p {
  padding-bottom: 8px;
}

footer {
  height: 80px;
  background-color: mediumvioletred;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
